
<section class="blog-area section">
      <div class="container">
        <div class="row">
        <% @posts.each do |post| %>
          <div class="col-lg-4 col-md-6">
            <div class="card h-100">
              <div class="single-post post-style-1">
                <% if post.image? %>
                  <div class="blog-image"><%= image_tag post.image, :alt => "Blog Image" %></div>
                <% end %>

                <a class="avatar" href="#"><%= image_tag ("images/icons8-team-355979.jpg"), :alt => "Profile Image" %></a>

                <div class="blog-info">

                  <h4 class="title">
                    <%= link_to post.title, post %>
                  </h4>

                  <ul class="post-footer">
                    <li>
                      <a href="#">
                        <i class="ion-heart"></i>57</a>
                    </li>
                    <li>
                      <%= link_to '<i class="ion-chatbubble"></i>'.html_safe + post.comments.count.to_s , "#{post_path(post)}/#comments" %>
                    </li>
                    <li>
                      <a href="#">
                        <i class="ion-eye"></i><%= post.impressions_count %></a>
                    </li>
                  </ul>

                </div>
                <!-- blog-info -->
              </div>
              <!-- single-post -->
            </div>
            <!-- card -->
          </div>
          <!-- col-lg-4 col-md-6 -->
          <% end %>
        </div>
        <!-- row -->

        <a class="load-more-btn">
          <b>LOAD MORE</b>
        </a>

      </div>
    </section>
      <!-- container -->
    <!-- </section> -->
